.backgroundPopUp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerErrorPopUp {
    background-color: #eeeeee;
    color: black;
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: #da0000 4px solid;
    min-width: 400px;
}

.titlePopUp {
    font-size: 30px;
    font-weight: 700;
    color: #da0000;
    margin-left: 20px;
}

.messagePopUp {
    margin-left: 20px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 24px;
    color: #000000;
}

.detailsPopUp {
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
    font-size: larger;
}  

.smallText {
    color: gray;
    display: flex;
    justify-content: center;
}