.addButtonContainer {
    height: 30px;
    border-radius: 3px;
    background-color: #d9d9d9;
    color: #49454f;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.addButtonContainer:hover {
    border: none;
}

.textAddButton {
    margin-left: 3px;
    height: 100%;
}