.containerTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}

.textResultTopBar {
    margin: 0 0 0 40px;
    color: black;
    align-content: center;
}