.containerTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    width: 900px;
    height: 40px;
}

.separation {
    display: flex;
}

.firstThird {
    width: 28%;
}

.secondThird {
    width: 44%;
}

.thirdThird {
    width: 27%;
    display: flex;
    padding-right: 1%;
    justify-content: end;
}

.textResultTopBar {
    margin: 0 0 0 40px;
    color: black;
    align-content: center;
    margin-right: 5%;
}