.containerTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 900px;
    height: 40px;
}

.separation {
    display: flex;
}

.firstThird {
    width: 28%;
}

.secondThird {
    width: 44%;
}

.thirdThird {
    width: 27%;
    display: flex;
    padding-right: 1%;
    justify-content: end;
}

.textResultTopBar {
    margin: 0 0 0 40px;
    color: black;
    align-content: center;
    margin-right: 5%;
}

.logout-btn { 
    margin-left: '10px';
    cursor: 'pointer';
    background: #fff;
    border: 'none';
    font-size: '1.2rem';
    color: #333;
}