.containerTable {
    width: 100%;
    background-color: black;
    table-layout: auto;
}

.headerColumn {
    background-color: #2d2d2d;
}

.contentColumn {
    background-color: grey;
}

.waitMessage {
    color: black;
    text-align: center;
}

.actionColumn {
    display: flex;
    justify-content: space-around;
}

.buttonAction {
    height: 28px;
    width: 30px;
    margin: 1px;
    padding: 0;
    background-color: #d9d9d9;
    color: black;
    border: 2px solid black;
}

.buttonAction:hover {
    background-color: rgb(94, 94, 94);
    border: 2px solid black;
}