.containerDropdown {
  margin: 5px;
}

.buttonDropdown {
    height: 30px;
    border-radius: 3px;
    background-color: #d9d9d9;
    color: #49454f;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0;
}

.buttonDropdown:hover {
  border: none;
}

.textButton {
    margin-right: 3px;
    height: 100%;
}

.containernContentDropdown {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.buttonContentDropdown {
    background-color: #d9d9d9;
    color: #49454f;
    width: 100%;
}

.containernContentDropdown .buttonContentDropdown {
  font-size: 13px;
  float: none;
  color: #49454f;
  padding: 5px;
  display: block;
  text-align: left;
}

.containernContentDropdown .buttonContentDropdown:hover {
  background-color:  #beafab;
  border: none;
}

.containerDropdown:hover .containernContentDropdown {
  display: block;
}