.login-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  font-family: Arial, sans-serif;
  border-radius: 24px;
  margin-top: 200px;
}



.login-card {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 24px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-card label {
  font-weight: bold;
  margin-bottom: 4px;
}

.login-btn {
  margin: 1rem 0;
  padding: 10px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #4338ca;
}


.field-log {
  position: relative;
  margin-bottom: 1.5rem;
}

.inputField {
  width: 100%;
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  background: none;
  color: #000;
}

.floatingLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #888;
  font-size: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s ease;
  background: white;
  padding: 0 5px;
}

.inputField:focus {
  border-color: #4f46e5;
}

.inputField:focus + .floatingLabel,
.inputField:not(:placeholder-shown) + .floatingLabel {
  top: -10px;
  font-size: 12px;
  color: #4f46e5;
}

h1 {
    color: #000;
}