.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    margin: 5px 50px;
    background-color: #d9d9d9;
    color: #49454f;
    border-radius: 3px;
    padding-inline: 10px;
}

.inputSearch {
    background-color: #d9d9d9;
    border: none;
    color: #49454f;
    font-size: 13px;
    font-weight: 500;
    opacity: 75%;
    text-align: center;
    width: 100%;
    margin-left: 5px;
}